<div class='chleft'>
  <div>
    <h1>
      快速上手
    </h1>
    <p>欢迎使用 Angular！Angular 可以帮助你为 Web、移动端或桌面构建现代应用程序。</p>
    <p>
      本指南会介绍如何构建并运行一个简单的 Angular 应用。 你将使用 Angular CLI 工具来加速开发，并遵守风格指南中的建议，这些建议将使每一个 Angular 应用受益。

      本指南只要不到 30 分钟即可完成。本指南末尾的最终代码回顾部分提供了一个链接，你可以去下载最终应用代码的一份复本。（就算你没有执行本章的这些命令，也仍然可以直接下载这份最终版的应用代码。）
    </p>
  </div>

  <div>
    <h1>先决条件</h1>
    <p>在开始之前，请确保你的开发环境已经包含了 Node.js® 和 npm 包管理器。</p>
  </div>
  <div>
    <h1>Node.js</h1>
    <p>Angular 需要 Node.js 的 8.x 或 10.x 版本。</p>
    <ul>
      <li>要想检查你的版本，请在终端/控制台窗口中运行 node -v 命令。</li>
      <li>要想安装 Node.js，请访问 nodejs.org。</li>
    </ul>
  </div>
  <div>
    <h1>npm 包管理器</h1>
    <p>Angular、Angular CLI 和 Angular 应用都依赖于某些库所提供的特性和功能，它们都是 npm 包。要下载和安装 npm 包，你必须拥有一个 npm 包管理器。</p>
  </div>
</div>
